extends layout
block content
 h1= title
 - let animalid = toShow._id
 - let AnimalName = toShow.AnimalName
 - let AnimalType = toShow.AnimalType
 - let AnimalColour = toShow.AnimalColour
 div
 div.row
 div(class='animalAttr mr-3') Animal ID is:
 div #{animalid}
 div.row
 div(class='animalAttr mr-3') Animal Name is:
 div #{AnimalName}
 div.row
 div(class='animalAttr mr-3') Animal Type is:
 div #{AnimalType}
 div.row
 div(class='animalAttr mr-3') Animal Colour is:
 div #{AnimalColour}